$app-header-height = 64px
$app-footer-height = 56px

// app-sidebar 相关配置
$app-sidebar-title-height = 64px
$app-sidebar-nav-height = 45px
$app-sidebar-width = 75
$app-sidebar-left-icon-size = 20
$svg-icon-size = 24

// app-mask 相关配置
$app-mask-bgcolor = rgb(176, 187, 194)
$app-mask-opacity = 0.3
$app-mask-zindex = 999
$app-mask-duration = .5s
